name: Ultimate Light Stream (Direct Copy)

on:
  workflow_dispatch:

env:
  RTMP_FULL: rtmps://fa723fc1b171.global-contribute.live-video.net:443/app/sk_us-west-2_nU83ZTW6D6Tu_wFPkEaWWRcqhLm7inTHXfkGv4SrMy9
  M3U8_URL: http://mac12546.cdngold.me/live/7e93f942fd00/a1d06bbaed/544451.m3u8

jobs:
  copy_stream:
    runs-on: ubuntu-latest
    timeout-minutes: 360 # 6 ساعات

    steps:
      - name: Install FFmpeg
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y wget xz-utils
          wget -q https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-linux64-gpl.tar.xz
          tar xf ffmpeg-master-latest-linux64-gpl.tar.xz
          sudo mv ffmpeg-master-latest-linux64-gpl/bin/ffmpeg /usr/local/bin/ffmpeg
          sudo chmod +x /usr/local/bin/ffmpeg
          rm -rf ffmpeg*

      - name: Start Direct Copy Stream
        run: |
          # الخفة القصوى (1% CPU Load)
          # -c copy: ينسخ البيانات كما هي تماماً
          # -bsf:a aac_adtstoasc: ضروري جداً عند نقل الصوت من TS إلى FLV لمنع الاخطاء
          
          ffmpeg -hide_banner -loglevel error \
            -reconnect 1 -reconnect_streamed 1 -reconnect_at_eof 1 -reconnect_delay_max 5 \
            -i "${{ env.M3U8_URL }}" \
            -c copy \
            -bsf:a aac_adtstoasc \
            -f flv "${{ env.RTMP_FULL }}"
